// scss file for the everdeck library project page.
@use "../breakpoints" as b;

.everdeck {
    .project-title img {
        background-color: hsl(var(--clr-edblue) / 1);
    }

    .everdeck--features {
        flex-direction: column;
        align-items: center;
        --flow-space: 1.5rem;
        & > p {
            max-width: 90%;
        }
        .everdeck-filters {
            gap: 1rem;
            flex-direction: column;
            align-items: center;
            img {
                max-height: 50%;
                width: 100%;
            }
            .everdeck-filters--p {
                max-width: 90%;
                flex-direction: column;
                gap: 1rem;
                p {
                    width: 100%;
                }
            }
        }

        .everdeck-cardzones {
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .everdeck-cardzones--p {
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                max-width: 90%;
            }
        }

        .everdeck-table {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

        @media (min-width: b.$layout-breakpoint-tablet) {
            & > p, 
            .everdeck-filters,
            .everdeck-cardzones,
            .everdeck-table {
                max-width: 70%;
            }

            & > h2 {
                align-self: center;
            }
        }
        @media (min-width: b.$layout-breakpoint-laptop) {
            max-width: 90%;
            .everdeck-filters {
                margin-top: 3rem;
                flex-direction: row-reverse;
                align-items: center;
                gap: 2rem;
                img {
                    max-height: 100%;
                }
                .everdeck-filters--p {
                    max-width: 60%;
                }
            }
            .everdeck-cardzones {
                flex-direction: row;
                img {
                    max-height: 100%;
                }
                .everdeck-cardzones--p {
                    max-width: 60%;
                }
            }
            .everdeck-table {
                flex-direction: row-reverse;
                justify-content: center;
                & > p {
                    max-width: 40%;
                }
            }
        }
    }


}