/* Breakpoints for responsive design */
$layout-breakpoint-tablet: 600px;
$layout-breakpoint-laptop: 992px;
$layout-breakpoint-desktop: 1200px;
$layout-breakpoint-desktop-2k: 2500px;
$layout-breakpoint-desktop-4k: 3840px;