/* scss for selected projects section of the main page */

@use "breakpoints" as b;

// transition mixin by Alvaro Trigo https://codepen.io/alvarotrigo/pen/OJmrqVB
@mixin transitionCB($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,0.076,1)) {
    transition: $property $duration $ease;
}

.projects-section {
    position: relative;
    height: fit-content;
    padding-top: 2rem;
    overflow: hidden;

    a {
        text-decoration: none;
    }

    .projects-section-title {
        display: inline-flex;
        width: auto;
        margin-top: 1rem;
        color: hsl(var(--clr-black) / 1);
        @include transitionCB;

        .arrow-right {
            @media (min-width: b.$layout-breakpoint-tablet) {
                padding: 7px;
                margin-bottom: .3rem;
            }
        }

        // hover effect for title and arrow
        &:hover {
            color: hsl(var(--clr-dark) / 1);
            .arrow-right {
                transform: translate(.3rem, 0) rotate(-45deg);
                border: solid hsl( var(--clr-dark) / 1);
                border-width: 0 3px 3px 0;
            }
        }
    }
}

.projects {
    max-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;

    @media (min-width: b.$layout-breakpoint-laptop) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project {
        &.projects--recipe-book {
            img {
                background-color: hsl(var(--clr-gold) / 1);
                padding: 1rem;
            }
        }

        &.projects--portfolio {
            img {
                background-color: hsl(var(--clr-dark) / 1);
                padding: 1rem;
            }
        }
    }
}