/* scss for selected projects section of the main page */

@use "breakpoints" as b;

// transition mixin by Alvaro Trigo https://codepen.io/alvarotrigo/pen/OJmrqVB
@mixin transitionCB($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,0.076,1)) {
    transition: $property $duration $ease;
}

.projects-section {
    position: relative;
    height: fit-content;
    padding-top: 2rem;
    overflow: hidden;

    a {
        text-decoration: none;
    }

    .projects-section-title {
        display: inline-flex;
        width: auto;
        margin-top: 1rem;
        color: hsl(var(--clr-black) / 1);
        @include transitionCB;

        .arrow-right {
            @media (min-width: b.$layout-breakpoint-tablet) {
                padding: 7px;
                margin-bottom: .3rem;
            }
        }

        // hover effect for title and arrow
        &:hover {
            color: hsl(var(--clr-dark) / 1);
            .arrow-right {
                transform: translate(.3rem, 0) rotate(-45deg);
                border: solid hsl( var(--clr-dark) / 1);
                border-width: 0 3px 3px 0;
            }
        }
    }
}

.projects {
    max-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;

    @media (min-width: b.$layout-breakpoint-laptop) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project {
        position: relative;
        z-index: 0;
        border-radius: 50px;
        overflow: hidden;
        padding: 1.5rem; 
        margin: .5rem;
        grid-template-areas: 
            "thumb"
            "title"
            "desc";
        @media (min-width:b.$layout-breakpoint-tablet) {
            gap: 1rem;
            grid-template-areas: 
                "thumb thumb title title"
                "thumb thumb desc desc";
        }

        @media (min-width:b.$layout-breakpoint-laptop) {
            width: 45%;
            margin: 1rem;
            grid-template-areas: 
                "thumb thumb title title"
                "desc desc desc desc";
        }

        @media (min-width: b.$layout-breakpoint-desktop) {
            grid-template-areas: 
                "thumb thumb title title"
                "thumb thumb desc desc";
        }

        // element for the animated project border on hover
        &::before {
            content: '';
            position: absolute;
            z-index: -2;
            left: -100%;
            top: -150%;
            width: 300%;
            height: 400%;
            background-repeat: no-repeat;
            background-size: 50% 50%, 50% 50%;
            background-position: 0 0, 100% 100%;
            background-image: 
            linear-gradient( to top, hsl(var(--clr-white) / 1), 70%, hsl(var(--clr-light) / 1)),
            linear-gradient( to top, hsl(var(--clr-dark) / 1), 80%,  hsl(var(--clr-light) / 1)) ;
            opacity: 0;
            transition: transform 1s ease, opacity 1s ease;
        }
    
        // element for the invisible background of a project to make the border with the before element
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 6px;
            top: 6px;
            width: calc(100% - 12px);
            height: calc(100% - 12px);
            background: hsl(var(--clr-light) / 1);
            border-radius: 50px;
        }
    
        // transform and opacity for the animated project border
        &:hover:before {
            opacity: 1;
            transform: rotate(180deg); 
        }
        
        .project-thumb {
            grid-area: thumb;
            position: relative;
            margin: 1rem;
            aspect-ratio: 1/1;
            place-self: center;
            @include transitionCB;
            &::after {
                content:'';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                border-radius: 5%;
                box-shadow: -5px 5px 5px hsl( var(--clr-dark) / 1);
                @include transitionCB;
            }

            &:hover {
                transform: scale(1.1, 1.1);
                &::after {
                    opacity: 1;
                }
            }

            @media (min-width: b.$layout-breakpoint-desktop-4k) {
                max-width: 80%;
            }
        }
        
        .project-title {
            grid-area: title;
            align-self: flex-end;
            padding-block: 1rem;
            color: hsl(var(--clr-black) / 1);
            @include transitionCB;

            .arrow-right {
                @media (min-width: b.$layout-breakpoint-tablet) {
                    padding: 6px;
                }
            }

            // hover effect for project title and arrow
            &:hover {
                color: hsl(var(--clr-dark) / 1);
                .arrow-right {
                    transform: translate(.3rem, 0) rotate(-45deg);
                    border: solid hsl( var(--clr-dark) / 1);
                    border-width: 0 3px 3px 0;
                }
            }
        }

        .project-desc {
            grid-area: desc;
        }

        // general styles for project thumbnails
        img {
            height: 100%;
            width: 100%;
            border-radius: .5rem;
        }

        // specific background colour for the thumbnails that need it
        &.projects--recipe-book {
            img {
                background-color: hsl(var(--clr-gold) / 1);
                padding: 1rem;
            }
        }

        &.projects--portfolio {
            img {
                background-color: hsl(var(--clr-dark) / 1);
                padding: 1rem;
            }
        }
    }
}