@use "breakpoints"as b;

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* Colours */
// .text-black { color: hsl( var(--clr-black));}
.text-black {
    color: black;
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-light {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* font sizes */
.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}

/* font faces */
.ff-sans-normal {
    font-family: var(--ff-sans-normal);
}

.ff-sans-cond {
    font-family: var(--ff-sans-cond);
}

.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

// class for the main sections on the homepage
.home-section {
    width: 100dvw;
    max-width: 100%;
    background-color: hsl(var(--clr-light) / 1);
    padding-inline: 1rem;
    margin-inline: auto;
}

// class for arrow pointing to the right
.arrow-right {
    display: inline-block;
    border: solid hsl(var(--clr-black) / 1);
    border-width: 0 3px 3px 0;
    padding: 5px;
    margin-left: .7rem;
    margin-bottom: .1rem;
    transform: rotate(-45deg);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1)
}

// class for the individual project pages
.project-page {
    min-height: 100dvh;
    background-color: hsl(var(--clr-light) / 1);
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-top: 6dvh;
    padding-bottom: 2rem;

    @media (max-width: b.$layout-breakpoint-laptop) and (orientation: landscape) {
        padding-top: 11dvh;
    }
}



// class for the project title and thumbnail on the project pages
.project-title {
    flex-direction: column;
    align-items: center;

    div {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .project-title-img {
        padding: 2rem;
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 2rem
    }

    .project-description {
        padding-inline: 1rem;

        @media (min-width: b.$layout-breakpoint-laptop) {
            max-width: 80%;
        }
    }
}

.divider {
    width: 80%;
    border-bottom: 2px solid hsl(var(--clr-dark) / .75);
    align-self: center;
    margin-bottom: 2rem;
}

// class for the github link on the project pages
.project-github--link {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    a {
        position: relative;
        width: 20%;
        margin-top: 1rem;
        transition: transform 0.3s ease-in-out;
        border-radius: 50%;

        // shadow element for opacity transition
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: -3px 3px 5px hsl(var(--clr-black) / 1);
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

        &:hover {
            transform: scale(1.2);

            &::after {
                opacity: 1;
            }
        }
    }

    @media (min-width: b.$layout-breakpoint-tablet) {
        flex-direction: row;

        a {
            margin: 0 0 0 2rem;
            width: 10%;
        }
    }

    @media (min-width: b.$layout-breakpoint-laptop) {
        a {
            width: 6%;
        }
    }
}


.story-set-link {
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}


// styles for individual projects on home page and on Frontend Mentor page
@mixin transitionCB($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,0.076,1)) {
    transition: $property $duration $ease;
}
.project {
    position: relative;
    z-index: 0;
    border-radius: 50px;
    overflow: hidden;
    padding: 1.5rem; 
    margin: .5rem;
    grid-template-areas: 
        "thumb"
        "title"
        "desc";
    @media (min-width:b.$layout-breakpoint-tablet) {
        gap: 1rem;
        grid-template-areas: 
            "thumb thumb title title"
            "thumb thumb desc desc";
    }

    @media (min-width:b.$layout-breakpoint-laptop) {
        width: 45%;
        margin: 1rem;
    }

    @media (min-width: b.$layout-breakpoint-desktop) {
        grid-template-areas: 
            "thumb thumb title title"
            "thumb thumb desc desc";
    }

    // element for the animated project border on hover
    &::before {
        content: '';
        position: absolute;
        z-index: -2;
        left: -100%;
        top: -150%;
        width: 300%;
        height: 400%;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 100%;
        background-image: 
        linear-gradient( to top, hsl(var(--clr-white) / 1), 70%, hsl(var(--clr-light) / 1)),
        linear-gradient( to top, hsl(var(--clr-dark) / 1), 80%,  hsl(var(--clr-light) / 1)) ;
        opacity: 0;
        transition: transform 1s ease, opacity 1s ease;
    }

    // element for the invisible background of a project to make the border with the before element
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: hsl(var(--clr-light) / 1);
        border-radius: 50px;
    }

    // transform and opacity for the animated project border
    &:hover:before {
        opacity: 1;
        transform: rotate(180deg); 
    }
    
    .project-thumb {
        grid-area: thumb;
        position: relative;
        margin: 1rem;
        aspect-ratio: 1/1;
        place-self: center;
        @include transitionCB;
        &::after {
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            border-radius: 5%;
            box-shadow: -5px 5px 5px hsl( var(--clr-dark) / 1);
            @include transitionCB;
        }

        &:hover {
            transform: scale(1.1, 1.1);
            &::after {
                opacity: 1;
            }
        }

        @media (min-width: b.$layout-breakpoint-desktop-4k) {
            max-width: 80%;
        }
    }
    
    .project-title {
        grid-area: title;
        align-self: flex-end;
        padding-block: 1rem;
        color: hsl(var(--clr-black) / 1);
        @include transitionCB;

        .arrow-right {
            @media (min-width: b.$layout-breakpoint-tablet) {
                padding: 6px;
            }
        }

        // hover effect for project title and arrow
        &:hover {
            color: hsl(var(--clr-dark) / 1);
            .arrow-right {
                transform: translate(.3rem, 0) rotate(-45deg);
                border: solid hsl( var(--clr-dark) / 1);
                border-width: 0 3px 3px 0;
            }
        }
    }

    .project-desc {
        grid-area: desc;
    }

    // general styles for project thumbnails
    img, picture {
        width: 100%;
        border-radius: .5rem;
    }
}