@use "breakpoints"as b;

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* Colours */
// .text-black { color: hsl( var(--clr-black));}
.text-black {
    color: black;
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-light {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* font sizes */
.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}

/* font faces */
.ff-sans-normal {
    font-family: var(--ff-sans-normal);
}

.ff-sans-cond {
    font-family: var(--ff-sans-cond);
}

.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

// class for the main sections on the homepage
.home-section {
    width: 100dvw;
    max-width: 100%;
    background-color: hsl(var(--clr-light) / 1);
    padding-inline: 1rem;
    margin-inline: auto;
}

// class for arrow pointing to the right
.arrow-right {
    display: inline-block;
    border: solid hsl(var(--clr-black) / 1);
    border-width: 0 3px 3px 0;
    padding: 5px;
    margin-left: .7rem;
    margin-bottom: .1rem;
    transform: rotate(-45deg);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1)
}

// class for the individual project pages
.project-page {
    min-height: 100dvh;
    background-color: hsl(var(--clr-light) / 1);
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-top: 6dvh;
    padding-bottom: 2rem;

    @media (max-width: b.$layout-breakpoint-laptop) and (orientation: landscape) {
        padding-top: 11dvh;
    }
}

// class for the project title and thumbnail on the project pages
.project-title {
    flex-direction: column;
    align-items: center;

    div {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .project-title-img {
        padding: 2rem;
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 2rem
    }

    .project-description {
        padding-inline: 1rem;

        @media (min-width: b.$layout-breakpoint-laptop) {
            max-width: 80%;
        }
    }
}

.divider {
    width: 80%;
    border-bottom: 2px solid hsl(var(--clr-dark) / .75);
    align-self: center;
    margin-bottom: 2rem;
}

// class for the github link on the project pages
.project-github--link {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    a {
        position: relative;
        width: 20%;
        margin-top: 1rem;
        transition: transform 0.3s ease-in-out;
        border-radius: 50%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: -3px 3px 5px hsl(var(--clr-dark) / 1);
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

        &:hover {
            transform: scale(1.2);

            &::after {
                opacity: 1;
            }
        }
    }

    @media (min-width: b.$layout-breakpoint-tablet) {
        flex-direction: row;

        a {
            margin: 0 0 0 2rem;
            width: 10%;
        }
    }

    @media (min-width: b.$layout-breakpoint-laptop) {
        a {
            width: 6%;
        }
    }
}


.story-set-link {
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}